{% extends 'base.html.twig' %}

{% block body %}
<section class="home-main-content">
    <div class="home-title-wrapper">
        <div id="logo"></div>
        <div id="txt">
            <div class="glitch top"><h1 class="text-primary">Wild Series</h1></div>
            <div class="glitch bottom"><h1 class="text-primary">Wild Series</h1></div>
        </div>
    </div>
    
    <a href="/program/" class='home-link text-dark bg-primary'><span>Voir les séries<span></a>
</section>
{% endblock %}

