{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}
{% block navbar %}
    {% include './component/_navbar.html.twig' %}
{% endblock %}
{% block body %}
    <h3 class="text-primary">Toutes les catégories :</h3>

    {% for category in categories %}
    <a href= {{ path('category_show', {categoryName: category.name } )}} >{{ category.name }}</a>
    {% endfor %}

{% endblock %}