{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}
{% block navbar %}
    {% include './component/_navbar.html.twig' %}
{% endblock %}
{% block body %}
<div class="container-xxl p-4">

    {% for category in categories %}

    <div class="d-flex flex-column justify-content-center align-items-center g-2">
        <a class="custom-link text-subtitle text-center text-dark bg-primary my-2 p-4" href= {{ path('category_show', {categoryName: category.name } )}} >{{ category.name }}</a>
    </div>
    
    {% endfor %}

</div>
    
{% endblock %}