{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block navbar %}
    {% include './component/_navbar.html.twig' %}
{% endblock %}

{% block body %}
<div class="p-2 container">

    {% if programs is not null %}

            {% include 'component/program-card.html.twig' %}

        {% else %}

        <div><h4 class="text-primary">Aucune série n'a été trouvée !</h4></div>

    {% endif %}
   

</div>
{% endblock %}