{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}
{% block navbar %}
    {% include './component/_navbar.html.twig' %}
{% endblock %}
{% block body %}
<div class="p-2 container-xxl">
    <h3 class="text-primary mt-5 mb-5">Toutes les séries :</h3>
    {% include 'component/program-card.html.twig' %}
</div>

{% endblock %}