{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}
{% block navbar %}
    {% include './component/_navbar.html.twig' %}
{% endblock %}
{% block body %}
<h1>Series</h1>
<p>{{id}}</p>
{% endblock %}