{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}
{% block navbar %}
    {% include './component/_navbar.html.twig' %}
{% endblock %}

{% block body %}

<div class="container bg-light p-3 mt-5">
    {% include 'component/_form.html.twig' %}
</div>

{% endblock %}