@font-face {
    font-family: 'Cyberpunk';
    src: url(../fonts/Cyberpunk-Regular.ttf);
}
@font-face {
    font-family: 'Blender-Pro-Bold';
    src: url(../fonts/Blender-Pro-Bold.otf);
}
@font-face {
    font-family: 'Blender-Reg';
    src: url(../fonts/Blender-Pro-Book.otf);
}

$primary: #FCEE0A;
$secondary: #00F0FF;
$terciary : #d509cf;
$light: #F1F1F1;
$dark: #333333;

$font-title: 'Cyberpunk';
$font-subtitle: 'Blender-Pro-Bold';
$font-body: 'Blender-Reg';
$font-size-body: 1.3rem;
$font-size-title: 4rem;
$font-size-subtitle: 2rem;


@import "~bootstrap/scss/bootstrap";