@import 'app';

nav{
    font-family: $font-subtitle;
}
.nav-link{
    &:hover{
        text-decoration: line-through;
        color: #444;
        rotate: -3deg;
    }
    .dropdown-item{
        &:hover{
            background-color: $terciary!important;
        }
    }
    
}
.nav-mobile{
    li {
        width: 20%;
    }
}
