<div class="container-sm">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn bg-primary text-subtitle p-3 mt-3" type="submit">Add category</button>
    {{ form_end(form) }}
</div>
